body
{
    background-image: url(../image/background/indexbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Ubuntu';
}
.top
{
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}
.top-h1
{
    text-align: center;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: auto;
    font-weight: 900;
    font-size: xx-large;
}

.top-nav
{
    list-style: none;
    margin-left: 10vh;
}

.top-nav li
{
    display: inline;
    margin-left: 10vh;
    text-align: right;
    font-size: x-large;
    cursor: pointer;
}

.bottom-f
{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0px;
    height: 10vh;
    justify-items: center;
    text-align: center;
}

#logon
{
    visibility: hidden;
   
}
.login-div form input
{
    height: 5vh;
    width: 100%;
    font-size:  3vh;
    background-color: white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.5) 1vw 1vh;
}

.login-div form input:last-child
{
    width: 100%;
    margin-top: 5vh;
}
#logon.active
{
    visibility: visible;
    position: absolute;
    display: flex;
    width: 70%;
    height: 50vh;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10vh;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    font-size: larger;
    transition: 1s;

    
    
}

#car
{
visibility: hidden;
}

#car.active
{
    visibility: visible;
    position: absolute;
    display: flex;
    width: 70%;
    height: auto;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10vh;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    font-size: larger;
    transition: 1s;

    
    
}